{"openapi":"3.1.0","jsonSchemaDialect":"https://json-schema.org/draft/2020-12/schema","info":{"title":"AI Future Ready API","version":"v1","description":"Public JSON API for AI Future Ready content, model metadata, recommendations, pricing snapshots, and change feeds."},"servers":[{"url":"https://ai-future-ready.com","description":"Production"},{"url":"","description":"Same-origin"}],"paths":{"/openapi.json":{"get":{"operationId":"getOpenApiSpec","summary":"Get the OpenAPI 3.1 specification","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenApiDocument"}}}}}}},"/api/v1/openapi.json":{"get":{"operationId":"getVersionedOpenApiSpec","summary":"Get the versioned OpenAPI 3.1 specification","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenApiDocument"}}}}}}},"/api/v1/index.json":{"get":{"operationId":"getApiIndex","summary":"List API discovery links and content types","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiIndex"}}}}}}},"/api/v1/schema.json":{"get":{"operationId":"getContentSchema","summary":"Get observed content-frontmatter schema coverage","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentSchema"}}}}}}},"/api/v1/{type}.json":{"get":{"operationId":"listContentByType","summary":"List content summaries for a content type","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TypeList"}}}},"404":{"description":"Content type not found"}}}},"/api/v1/{type}/{slug}.json":{"get":{"operationId":"getContentItem","summary":"Get a full content item with metadata, body text, relationships, and hashes","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]}},{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentItem"}}}},"404":{"description":"Content item not found"}}}},"/api/v1/recommend.json":{"get":{"operationId":"listRecommendations","summary":"Get all pre-scored recommendation slices","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendationMap"}}}}}}},"/api/v1/recommend/{task}.json":{"get":{"operationId":"getRecommendationTask","summary":"Get a pre-scored recommendation slice for one task","parameters":[{"name":"task","in":"path","required":true,"schema":{"type":"string","enum":["coding","writing","math","reasoning","multilingual","speed","research","cheap","local","agentic","images","education"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendationSlice"}}}},"404":{"description":"Recommendation task not found"}}}},"/api/v1/pricing-snapshots.json":{"get":{"operationId":"getPricingSnapshots","summary":"Get generated model pricing snapshots","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PricingSnapshots"}}}}}}},"/api/v1/model-verification.json":{"get":{"operationId":"getModelVerification","summary":"Get model verification and source-coverage inventory","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelVerification"}}}}}}},"/api/v1/samples/pro-data.json":{"get":{"operationId":"getProDataSample","summary":"Get a representative Pro Data sample record","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProDataSample"}}}}}}},"/api/v1/changes.json":{"get":{"operationId":"getChanges","summary":"Get changed content, optionally filtered by date and type","parameters":[{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"Return items changed on or after this YYYY-MM-DD date."},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]},"description":"Return only changed items whose type matches this content type."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangesResponse"}}}}}}},"/search-index.json":{"get":{"operationId":"getSearchIndex","summary":"Get the lightweight search index","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchIndexEntry"}}}}}}}},"/feed.json":{"get":{"operationId":"getJsonFeed","summary":"Get the JSON Feed change feed","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonFeed"}}}}}}}},"components":{"schemas":{"OpenApiDocument":{"type":"object","required":["openapi","info","paths"],"additionalProperties":true},"Source":{"type":"object","required":["title","url"],"properties":{"title":{"type":"string"},"url":{"type":"string","format":"uri"}},"additionalProperties":true},"RelationshipLink":{"type":"object","properties":{"text":{"type":"string"},"href":{"type":"string"},"html_path":{"type":"string"},"markdown_url":{"type":"string"},"target_id":{"type":"string"},"target_type":{"type":"string"},"target_title":{"type":"string"}},"additionalProperties":true},"RelatedEntry":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"html_url":{"type":"string"},"markdown_url":{"type":"string"},"shared_tags":{"type":"array","items":{"type":"string"}},"score":{"type":"number"}},"additionalProperties":true},"RelationshipMetadata":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/RelationshipLink"}},"related":{"type":"array","items":{"$ref":"#/components/schemas/RelatedEntry"}},"explicit":{"type":"object","additionalProperties":true}},"additionalProperties":true},"ContentSummary":{"type":"object","required":["slug","id","type","title","description","last_updated","markdown_url","html_url","content_hash","sha256"],"properties":{"slug":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"last_updated":{"type":"string"},"last_verified":{"type":["string","null"]},"verification_status":{"type":"string","enum":["verified","unverified"]},"markdown_url":{"type":"string"},"html_url":{"type":"string"},"api_url":{"type":"string"},"content_hash":{"type":"string","minLength":64,"maxLength":64},"sha256":{"type":"string","minLength":64,"maxLength":64},"provider":{"type":"string"},"api_model_id":{"type":"string"},"knowledge_cutoff":{"type":"string"},"capabilities":{"type":"array","items":{"type":"string"}},"availability_status":{"type":"string"},"deprecated":{"type":"boolean"},"superseded_by":{"type":"string"},"variant_of":{"type":"string"},"tool_schema_format":{"type":"string"},"pricing_confidence":{"type":"string"},"model_listing_confidence":{"type":"string"},"benchmark_confidence":{"type":"string"},"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"benchmark_sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"pricing":{"type":"object","additionalProperties":true},"benchmarks":{"type":"object","additionalProperties":{"type":"number"}},"tags":{"type":"array","items":{"type":"string"}},"website":{"type":"string"},"date":{"type":"string"},"release_date":{"type":"string"},"relationships":{"$ref":"#/components/schemas/RelationshipMetadata"}},"additionalProperties":true},"ContentItem":{"allOf":[{"$ref":"#/components/schemas/ContentSummary"},{"type":"object","required":["metadata","content_text","content_length","generated_at"],"properties":{"metadata":{"type":"object","additionalProperties":true},"content_text":{"type":"string"},"content_length":{"type":"integer","minimum":0},"generated_at":{"type":"string","format":"date"}}}]},"TypeIndexEntry":{"type":"object","required":["type","title","description","count","api_url"],"properties":{"type":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]},"title":{"type":"string"},"description":{"type":"string"},"count":{"type":"integer","minimum":0},"index_markdown_url":{"type":"string"},"index_html_url":{"type":"string"},"api_url":{"type":"string"},"item_api_pattern":{"type":"string"}},"additionalProperties":true},"ApiIndex":{"type":"object","required":["name","version","generated_at","discovery","content_types"],"properties":{"name":{"type":"string"},"version":{"type":"string"},"description":{"type":"string"},"generated_at":{"type":"string","format":"date"},"discovery":{"type":"object","additionalProperties":true},"commercial":{"type":"object","additionalProperties":true},"endpoint_patterns":{"type":"object","additionalProperties":true},"content_types":{"type":"array","items":{"$ref":"#/components/schemas/TypeIndexEntry"}}},"additionalProperties":true},"TypeList":{"type":"object","required":["type","count","schema_url","item_api_pattern","items"],"properties":{"type":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]},"count":{"type":"integer","minimum":0},"schema_url":{"type":"string"},"item_api_pattern":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ContentSummary"}}},"additionalProperties":true},"ContentSchema":{"type":"object","required":["name","version","generated_at","content_types"],"properties":{"name":{"type":"string"},"version":{"type":"string"},"generated_at":{"type":"string","format":"date"},"required_fields":{"type":"array","items":{"type":"string"}},"recommended_fields":{"type":"array","items":{"type":"string"}},"content_types":{"type":"object","additionalProperties":true}},"additionalProperties":true},"RecommendationItem":{"type":"object","required":["slug","title","id","provider","score","score_basis"],"properties":{"slug":{"type":"string"},"title":{"type":"string"},"id":{"type":"string"},"provider":{"type":"string"},"score":{"type":"number"},"score_basis":{"type":"string"},"pricing":{"type":"object","additionalProperties":true},"free":{"type":"boolean"},"estimated_input_output_cost_per_1m":{"type":["number","null"]},"model_type":{"type":"string"},"markdown_url":{"type":"string"},"html_url":{"type":"string"},"api_url":{"type":["string","null"]},"sha256":{"type":"string"}},"additionalProperties":true},"RecommendationSlice":{"type":"object","required":["task","generated_at","count","items"],"properties":{"task":{"type":"string","enum":["coding","writing","math","reasoning","multilingual","speed","research","cheap","local","agentic","images","education"]},"generated_at":{"type":"string","format":"date"},"count":{"type":"integer","minimum":0},"items":{"type":"array","items":{"$ref":"#/components/schemas/RecommendationItem"}}},"additionalProperties":true},"RecommendationMap":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/RecommendationItem"}}},"PricingSnapshotItem":{"type":"object","required":["slug","id","title","provider","pricing","parsed_usd_per_1m_tokens"],"properties":{"slug":{"type":"string"},"id":{"type":"string"},"title":{"type":"string"},"api_model_id":{"type":"string"},"provider":{"type":"string"},"model_type":{"type":"string"},"context_window":{"type":"string"},"knowledge_cutoff":{"type":"string"},"availability_status":{"type":"string"},"deprecated":{"type":"boolean"},"superseded_by":{"type":"string"},"pricing":{"type":"object","additionalProperties":true},"parsed_usd_per_1m_tokens":{"type":"object","additionalProperties":true},"last_updated":{"type":"string"},"last_verified":{"type":["string","null"]},"pricing_confidence":{"type":"string"},"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"markdown_url":{"type":"string"},"html_url":{"type":"string"},"api_url":{"type":["string","null"]},"sha256":{"type":"string"}},"additionalProperties":true},"PricingSnapshots":{"type":"object","required":["generated_at","status","count","items"],"properties":{"generated_at":{"type":"string","format":"date"},"status":{"type":"string"},"warning":{"type":"string"},"count":{"type":"integer","minimum":0},"items":{"type":"array","items":{"$ref":"#/components/schemas/PricingSnapshotItem"}}},"additionalProperties":true},"ModelVerification":{"type":"object","required":["generated_at","count","items"],"properties":{"generated_at":{"type":"string","format":"date"},"count":{"type":"integer","minimum":0},"needs_model_verification":{"type":"integer","minimum":0},"needs_source_links":{"type":"integer","minimum":0},"items":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true},"ProDataSample":{"type":"object","properties":{"generated_at":{"type":"string","format":"date"},"checkout_configured":{"type":"boolean"},"model":{"type":"object","additionalProperties":true},"pricing_snapshot":{"type":"object","additionalProperties":true},"verification":{"type":"object","additionalProperties":true}},"additionalProperties":true},"ChangesResponse":{"type":"object","required":["query","count","items"],"properties":{"generated_at":{"type":"string","format":"date"},"query":{"type":"object","properties":{"since":{"type":["string","null"],"format":"date"},"type":{"type":["string","null"]}},"additionalProperties":true},"count":{"type":"integer","minimum":0},"items":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true},"SearchIndexEntry":{"type":"object","required":["title","description","section","type","href","mdPath"],"properties":{"title":{"type":"string"},"description":{"type":"string"},"section":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"href":{"type":"string"},"mdPath":{"type":"string"},"apiPath":{"type":"string"},"provider":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"last_updated":{"type":"string"},"last_verified":{"type":"string"},"verification_status":{"type":"string"},"published_at":{"type":"string"},"content_hash":{"type":"string"},"sha256":{"type":"string"},"relationships":{"$ref":"#/components/schemas/RelationshipMetadata"}},"additionalProperties":true},"JsonFeed":{"type":"object","required":["version","title","items"],"properties":{"version":{"type":"string"},"title":{"type":"string"},"home_page_url":{"type":"string"},"feed_url":{"type":"string"},"description":{"type":"string"},"items":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true}}}}