{"openapi":"3.1.0","jsonSchemaDialect":"https://json-schema.org/draft/2020-12/schema","info":{"title":"AI Future Ready API","version":"v1","description":"Public JSON API for AI Future Ready content, model metadata, recommendations, pricing snapshots, and change feeds."},"servers":[{"url":"https://ai-future-ready.com","description":"Production"},{"url":"","description":"Same-origin"}],"paths":{"/openapi.json":{"get":{"operationId":"getOpenApiSpec","summary":"Get the OpenAPI 3.1 specification","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenApiDocument"}}}}}}},"/api/v1/openapi.json":{"get":{"operationId":"getVersionedOpenApiSpec","summary":"Get the versioned OpenAPI 3.1 specification","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenApiDocument"}}}}}}},"/api/v1/index.json":{"get":{"operationId":"getApiIndex","summary":"List API discovery links and content types","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiIndex"}}}}}}},"/api/v1/schema.json":{"get":{"operationId":"getContentSchema","summary":"Get observed content-frontmatter schema coverage","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentSchema"}}}}}}},"/api/v1/status.json":{"get":{"operationId":"getSiteStatus","summary":"Get build freshness, internal-link health, and source metadata coverage","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatusResponse"}}}}}}},"/api/v1/models-filter.json":{"get":{"operationId":"filterModels","summary":"Filter model summaries by routing-relevant fields","parameters":[{"name":"capability","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true,"description":"Require every requested capability. Accepts repeated parameters or comma-separated values."},{"name":"provider","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true,"description":"Match any provider, case-insensitive."},{"name":"availability_status","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true,"description":"Match any model availability status."},{"name":"deprecated","in":"query","required":false,"schema":{"type":"boolean"},"description":"When true, return only deprecated models. When false, exclude them."},{"name":"model_type","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true,"description":"Match any model type, such as proprietary or open-source."},{"name":"tool_schema_format","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}},"style":"form","explode":true,"description":"Match any tool schema format."},{"name":"context_min","in":"query","required":false,"schema":{"type":"integer","minimum":0},"description":"Minimum context window in tokens."},{"name":"max_input_price","in":"query","required":false,"schema":{"type":"number","minimum":0},"description":"Maximum input price in USD per 1M tokens."},{"name":"max_output_price","in":"query","required":false,"schema":{"type":"number","minimum":0},"description":"Maximum output price in USD per 1M tokens."},{"name":"free","in":"query","required":false,"schema":{"type":"boolean"},"description":"When true, return only free/open-weight records. When false, exclude them."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelFilterResponse"}}}}}}},"/api/v1/diff.json":{"get":{"operationId":"diffModels","summary":"Compare two model summaries by pricing, benchmarks, capabilities, and metadata","parameters":[{"name":"a","in":"query","required":true,"schema":{"type":"string"},"description":"First model slug, id, API model id, or title."},{"name":"b","in":"query","required":true,"schema":{"type":"string"},"description":"Second model slug, id, API model id, or title."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelDiffResponse"}}}},"400":{"description":"Missing required model query parameters"},"404":{"description":"One or both requested models were not found"}}}},"/api/v1/cost.json":{"get":{"operationId":"calculateModelCostsGet","summary":"Estimate and rank model costs from token counts","parameters":[{"name":"input_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"output_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"cache_read_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"cache_write_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"cache_write_5m_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"cache_write_1h_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"batch_input_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"batch_output_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"long_context_input_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"long_context_output_tokens","in":"query","required":false,"schema":{"type":"number","minimum":0}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","minimum":1,"maximum":500}},{"name":"include_unpriced","in":"query","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelCostResponse"}}}},"400":{"description":"Invalid or missing token counts"}}},"post":{"operationId":"calculateModelCostsPost","summary":"Estimate and rank model costs from a JSON token-count request","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelCostRequest"}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelCostResponse"}}}},"400":{"description":"Invalid request body or token counts"}}}},"/api/v1/{type}.json":{"get":{"operationId":"listContentByType","summary":"List content summaries for a content type","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TypeList"}}}},"404":{"description":"Content type not found"}}}},"/api/v1/{type}/{slug}.json":{"get":{"operationId":"getContentItem","summary":"Get a full content item with metadata, body text, relationships, and hashes","parameters":[{"name":"type","in":"path","required":true,"schema":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]}},{"name":"slug","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContentItem"}}}},"404":{"description":"Content item not found"}}}},"/api/v1/recommend.json":{"get":{"operationId":"listRecommendations","summary":"Get all pre-scored recommendation slices","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendationMap"}}}}}}},"/api/v1/recommend/{task}.json":{"get":{"operationId":"getRecommendationTask","summary":"Get a pre-scored recommendation slice for one task","parameters":[{"name":"task","in":"path","required":true,"schema":{"type":"string","enum":["coding","writing","math","reasoning","multilingual","speed","research","cheap","local","agentic","images","education"]}}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RecommendationSlice"}}}},"404":{"description":"Recommendation task not found"}}}},"/api/v1/pricing-snapshots.json":{"get":{"operationId":"getPricingSnapshots","summary":"Get generated model pricing snapshots","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PricingSnapshots"}}}}}}},"/api/v1/model-verification.json":{"get":{"operationId":"getModelVerification","summary":"Get model verification and source-coverage inventory","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelVerification"}}}}}}},"/api/v1/samples/pro-data.json":{"get":{"operationId":"getProDataSample","summary":"Get a representative Pro Data sample record","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProDataSample"}}}}}}},"/api/v1/changes.json":{"get":{"operationId":"getChanges","summary":"Get changed content, optionally filtered by date and type","parameters":[{"name":"since","in":"query","required":false,"schema":{"type":"string","format":"date"},"description":"Return items changed on or after this YYYY-MM-DD date."},{"name":"type","in":"query","required":false,"schema":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]},"description":"Return only changed items whose type matches this content type."}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangesResponse"}}}}}}},"/search-index.json":{"get":{"operationId":"getSearchIndex","summary":"Get the lightweight search index","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SearchIndexEntry"}}}}}}}},"/feed.json":{"get":{"operationId":"getJsonFeed","summary":"Get the JSON Feed change feed","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JsonFeed"}}}}}}}},"components":{"schemas":{"OpenApiDocument":{"type":"object","required":["openapi","info","paths"],"additionalProperties":true},"Source":{"type":"object","required":["title","url"],"properties":{"title":{"type":"string"},"url":{"type":"string","format":"uri"}},"additionalProperties":true},"RelationshipLink":{"type":"object","properties":{"text":{"type":"string"},"href":{"type":"string"},"html_path":{"type":"string"},"markdown_url":{"type":"string"},"target_id":{"type":"string"},"target_type":{"type":"string"},"target_title":{"type":"string"}},"additionalProperties":true},"RelatedEntry":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"type":{"type":"string"},"html_url":{"type":"string"},"markdown_url":{"type":"string"},"shared_tags":{"type":"array","items":{"type":"string"}},"score":{"type":"number"}},"additionalProperties":true},"RelationshipMetadata":{"type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/RelationshipLink"}},"related":{"type":"array","items":{"$ref":"#/components/schemas/RelatedEntry"}},"explicit":{"type":"object","additionalProperties":true}},"additionalProperties":true},"ContentSummary":{"type":"object","required":["slug","id","type","title","description","last_updated","markdown_url","html_url","content_hash","sha256"],"properties":{"slug":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"last_updated":{"type":"string"},"last_verified":{"type":["string","null"]},"verification_status":{"type":"string","enum":["verified","unverified"]},"markdown_url":{"type":"string"},"html_url":{"type":"string"},"api_url":{"type":"string"},"content_hash":{"type":"string","minLength":64,"maxLength":64},"sha256":{"type":"string","minLength":64,"maxLength":64},"provider":{"type":"string"},"model_type":{"type":"string"},"api_model_id":{"type":"string"},"knowledge_cutoff":{"type":"string"},"capabilities":{"type":"array","items":{"type":"string"}},"availability_status":{"type":"string"},"deprecated":{"type":"boolean"},"superseded_by":{"type":"string"},"variant_of":{"type":"string"},"tool_schema_format":{"type":"string"},"pricing_confidence":{"type":"string"},"model_listing_confidence":{"type":"string"},"benchmark_confidence":{"type":"string"},"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"benchmark_sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"pricing":{"type":"object","additionalProperties":true},"benchmarks":{"type":"object","additionalProperties":{"type":"number"}},"context_window":{"type":"string"},"modality":{"type":"array","items":{"type":"string"}},"license":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"website":{"type":"string"},"date":{"type":"string"},"release_date":{"type":"string"},"relationships":{"$ref":"#/components/schemas/RelationshipMetadata"}},"additionalProperties":true},"ContentItem":{"allOf":[{"$ref":"#/components/schemas/ContentSummary"},{"type":"object","required":["metadata","content_text","content_length","generated_at"],"properties":{"metadata":{"type":"object","additionalProperties":true},"content_text":{"type":"string"},"content_length":{"type":"integer","minimum":0},"generated_at":{"type":"string","format":"date"}}}]},"TypeIndexEntry":{"type":"object","required":["type","title","description","count","api_url"],"properties":{"type":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]},"title":{"type":"string"},"description":{"type":"string"},"count":{"type":"integer","minimum":0},"index_markdown_url":{"type":"string"},"index_html_url":{"type":"string"},"api_url":{"type":"string"},"item_api_pattern":{"type":"string"}},"additionalProperties":true},"ApiIndex":{"type":"object","required":["name","version","generated_at","discovery","content_types"],"properties":{"name":{"type":"string"},"version":{"type":"string"},"description":{"type":"string"},"generated_at":{"type":"string","format":"date"},"discovery":{"type":"object","additionalProperties":true},"commercial":{"type":"object","additionalProperties":true},"endpoint_patterns":{"type":"object","additionalProperties":true},"content_types":{"type":"array","items":{"$ref":"#/components/schemas/TypeIndexEntry"}}},"additionalProperties":true},"TypeList":{"type":"object","required":["type","count","schema_url","item_api_pattern","items"],"properties":{"type":{"type":"string","enum":["agents","api-reference","blog","checklist","comparisons","glossary","guides","models","pricing","prompt-patterns","providers","standard","timeline","use-cases"]},"count":{"type":"integer","minimum":0},"schema_url":{"type":"string"},"item_api_pattern":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ContentSummary"}}},"additionalProperties":true},"ContentSchema":{"type":"object","required":["name","version","generated_at","content_types"],"properties":{"name":{"type":"string"},"version":{"type":"string"},"generated_at":{"type":"string","format":"date"},"required_fields":{"type":"array","items":{"type":"string"}},"recommended_fields":{"type":"array","items":{"type":"string"}},"content_types":{"type":"object","additionalProperties":true}},"additionalProperties":true},"StatusResponse":{"type":"object","required":["type","status","generated_at","build_timestamp","content","links"],"properties":{"type":{"type":"string","const":"site-status"},"status":{"type":"string","enum":["ok","attention"]},"generated_at":{"type":"string","format":"date"},"build_timestamp":{"type":"string","format":"date-time"},"site":{"type":"string","format":"uri"},"api_version":{"type":"string"},"content":{"type":"object","additionalProperties":true},"links":{"type":"object","additionalProperties":true},"artifacts":{"type":"object","additionalProperties":true}},"additionalProperties":true},"ModelFilterQuery":{"type":"object","properties":{"capability":{"type":"array","items":{"type":"string"}},"provider":{"type":"array","items":{"type":"string"}},"availability_status":{"type":"array","items":{"type":"string"}},"deprecated":{"type":["boolean","null"]},"model_type":{"type":"array","items":{"type":"string"}},"tool_schema_format":{"type":"array","items":{"type":"string"}},"context_min":{"type":["integer","null"],"minimum":0},"max_input_price":{"type":["number","null"],"minimum":0},"max_output_price":{"type":["number","null"],"minimum":0},"free":{"type":["boolean","null"]}},"additionalProperties":false},"ModelFilterResponse":{"type":"object","required":["type","generated_at","source","total","count","query","items"],"properties":{"type":{"type":"string","const":"models-filter"},"generated_at":{"type":"string","format":"date"},"source":{"type":"string"},"total":{"type":"integer","minimum":0},"count":{"type":"integer","minimum":0},"query":{"$ref":"#/components/schemas/ModelFilterQuery"},"available_filters":{"type":"array","items":{"type":"string"}},"items":{"type":"array","items":{"$ref":"#/components/schemas/ContentSummary"}}},"additionalProperties":true},"ModelDiffValue":{"type":"object","required":["a","b","same"],"properties":{"a":{},"b":{},"same":{"type":"boolean"}},"additionalProperties":true},"ModelDiffNumberValue":{"type":"object","required":["a","b","difference","winner"],"properties":{"a":{"type":["number","null"]},"b":{"type":["number","null"]},"difference":{"type":["number","null"]},"winner":{"type":["string","null"],"enum":["a","b","tie",null]}},"additionalProperties":true},"ModelDiffResponse":{"type":"object","required":["type","generated_at","source","query","models","metadata","pricing","benchmarks","capabilities"],"properties":{"type":{"type":"string","const":"model-diff"},"generated_at":{"type":["string","null"],"format":"date"},"source":{"type":"string"},"query":{"type":"object","properties":{"a":{"type":"string"},"b":{"type":"string"}},"additionalProperties":false},"models":{"type":"object","required":["a","b"],"properties":{"a":{"$ref":"#/components/schemas/ContentSummary"},"b":{"$ref":"#/components/schemas/ContentSummary"}},"additionalProperties":false},"metadata":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ModelDiffValue"}},"context_window":{"type":"object","additionalProperties":true},"pricing":{"type":"object","additionalProperties":true},"benchmarks":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ModelDiffNumberValue"}},"capabilities":{"type":"object","required":["shared","only_a","only_b"],"properties":{"shared":{"type":"array","items":{"type":"string"}},"only_a":{"type":"array","items":{"type":"string"}},"only_b":{"type":"array","items":{"type":"string"}}},"additionalProperties":false},"modality":{"type":"object","additionalProperties":true},"confidence":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ModelDiffValue"}},"sources":{"type":"object","additionalProperties":true}},"additionalProperties":true},"ModelCostRequest":{"type":"object","properties":{"input_tokens":{"type":"number","minimum":0},"output_tokens":{"type":"number","minimum":0},"cache_read_tokens":{"type":"number","minimum":0},"cache_write_tokens":{"type":"number","minimum":0},"cache_write_5m_tokens":{"type":"number","minimum":0},"cache_write_1h_tokens":{"type":"number","minimum":0},"batch_input_tokens":{"type":"number","minimum":0},"batch_output_tokens":{"type":"number","minimum":0},"long_context_input_tokens":{"type":"number","minimum":0},"long_context_output_tokens":{"type":"number","minimum":0},"include_unpriced":{"type":"boolean","default":false},"limit":{"type":["integer","null"],"minimum":1,"maximum":500}},"additionalProperties":false},"ModelCostComponent":{"type":"object","required":["tokens","usd_per_1m","estimated_cost_usd","price_source"],"properties":{"tokens":{"type":"number","minimum":0},"usd_per_1m":{"type":["number","null"],"minimum":0},"estimated_cost_usd":{"type":["number","null"],"minimum":0},"price_source":{"type":["string","null"]}},"additionalProperties":false},"ModelCostItem":{"type":"object","required":["rank","slug","id","title","estimated_cost_usd","missing_price_components","components"],"properties":{"rank":{"type":"integer","minimum":1},"slug":{"type":"string"},"id":{"type":"string"},"title":{"type":"string"},"provider":{"type":["string","null"]},"model_type":{"type":["string","null"]},"api_model_id":{"type":["string","null"]},"availability_status":{"type":["string","null"]},"deprecated":{"type":"boolean"},"pricing_confidence":{"type":["string","null"]},"currency":{"type":"string"},"estimated_cost_usd":{"type":["number","null"],"minimum":0},"missing_price_components":{"type":"array","items":{"type":"string"}},"components":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/ModelCostComponent"}},"html_url":{"type":["string","null"]},"api_url":{"type":["string","null"]},"markdown_url":{"type":["string","null"]}},"additionalProperties":true},"ModelCostResponse":{"type":"object","required":["type","generated_at","source","total_models","priced_models","count","ranked_by","query","items"],"properties":{"type":{"type":"string","const":"model-cost"},"generated_at":{"type":["string","null"],"format":"date"},"source":{"type":"string"},"total_models":{"type":"integer","minimum":0},"priced_models":{"type":"integer","minimum":0},"excluded_unpriced_models":{"type":"integer","minimum":0},"count":{"type":"integer","minimum":0},"ranked_by":{"type":"string"},"note":{"type":"string"},"query":{"$ref":"#/components/schemas/ModelCostRequest"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ModelCostItem"}}},"additionalProperties":true},"RecommendationItem":{"type":"object","required":["slug","title","id","provider","score","score_basis"],"properties":{"slug":{"type":"string"},"title":{"type":"string"},"id":{"type":"string"},"provider":{"type":"string"},"score":{"type":"number"},"score_basis":{"type":"string"},"pricing":{"type":"object","additionalProperties":true},"free":{"type":"boolean"},"estimated_input_output_cost_per_1m":{"type":["number","null"]},"model_type":{"type":"string"},"markdown_url":{"type":"string"},"html_url":{"type":"string"},"api_url":{"type":["string","null"]},"sha256":{"type":"string"}},"additionalProperties":true},"RecommendationSlice":{"type":"object","required":["task","generated_at","count","items"],"properties":{"task":{"type":"string","enum":["coding","writing","math","reasoning","multilingual","speed","research","cheap","local","agentic","images","education"]},"generated_at":{"type":"string","format":"date"},"count":{"type":"integer","minimum":0},"items":{"type":"array","items":{"$ref":"#/components/schemas/RecommendationItem"}}},"additionalProperties":true},"RecommendationMap":{"type":"object","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/RecommendationItem"}}},"PricingSnapshotItem":{"type":"object","required":["slug","id","title","provider","pricing","parsed_usd_per_1m_tokens"],"properties":{"slug":{"type":"string"},"id":{"type":"string"},"title":{"type":"string"},"api_model_id":{"type":"string"},"provider":{"type":"string"},"model_type":{"type":"string"},"context_window":{"type":"string"},"knowledge_cutoff":{"type":"string"},"availability_status":{"type":"string"},"deprecated":{"type":"boolean"},"superseded_by":{"type":"string"},"pricing":{"type":"object","additionalProperties":true},"parsed_usd_per_1m_tokens":{"type":"object","additionalProperties":true},"last_updated":{"type":"string"},"last_verified":{"type":["string","null"]},"pricing_confidence":{"type":"string"},"sources":{"type":"array","items":{"$ref":"#/components/schemas/Source"}},"markdown_url":{"type":"string"},"html_url":{"type":"string"},"api_url":{"type":["string","null"]},"sha256":{"type":"string"}},"additionalProperties":true},"PricingSnapshots":{"type":"object","required":["generated_at","status","count","items"],"properties":{"generated_at":{"type":"string","format":"date"},"status":{"type":"string"},"warning":{"type":"string"},"count":{"type":"integer","minimum":0},"items":{"type":"array","items":{"$ref":"#/components/schemas/PricingSnapshotItem"}}},"additionalProperties":true},"ModelVerification":{"type":"object","required":["generated_at","count","items"],"properties":{"generated_at":{"type":"string","format":"date"},"count":{"type":"integer","minimum":0},"needs_model_verification":{"type":"integer","minimum":0},"needs_source_links":{"type":"integer","minimum":0},"items":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true},"ProDataSample":{"type":"object","properties":{"generated_at":{"type":"string","format":"date"},"checkout_configured":{"type":"boolean"},"model":{"type":"object","additionalProperties":true},"pricing_snapshot":{"type":"object","additionalProperties":true},"verification":{"type":"object","additionalProperties":true}},"additionalProperties":true},"ChangesResponse":{"type":"object","required":["query","count","items"],"properties":{"generated_at":{"type":"string","format":"date"},"query":{"type":"object","properties":{"since":{"type":["string","null"],"format":"date"},"type":{"type":["string","null"]}},"additionalProperties":true},"count":{"type":"integer","minimum":0},"items":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true},"SearchIndexEntry":{"type":"object","required":["title","description","section","type","href","mdPath"],"properties":{"title":{"type":"string"},"description":{"type":"string"},"section":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"href":{"type":"string"},"mdPath":{"type":"string"},"apiPath":{"type":"string"},"provider":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}},"last_updated":{"type":"string"},"last_verified":{"type":"string"},"verification_status":{"type":"string"},"published_at":{"type":"string"},"content_hash":{"type":"string"},"sha256":{"type":"string"},"relationships":{"$ref":"#/components/schemas/RelationshipMetadata"}},"additionalProperties":true},"JsonFeed":{"type":"object","required":["version","title","items"],"properties":{"version":{"type":"string"},"title":{"type":"string"},"home_page_url":{"type":"string"},"feed_url":{"type":"string"},"description":{"type":"string"},"items":{"type":"array","items":{"type":"object","additionalProperties":true}}},"additionalProperties":true}}}}